{% extends 'basic.html' %}
{% block title %}
About

{% endblock title %}
{% block body %}
<h3>WELCOME TO HUDASTONE COMPANY</h3>



<div class="card text-black bg-#007bff mt-5">
  <div class="card-header"><b><center>ABOUT HUDASTONE COMPANY</center></b></div>
  <div class="card-body">
    <h5 class="card-title"><b></b></h5>
    <p class="card-text">
    
    

<div class="form-group">
    
    <b>
    We are one of the leading interior decoration service providers for various residences and commercial offices in BANGALORE. Backed by strong and experienced staff members our services are highly appreciated by many of our customers.
      
      </b>
      </div>

<center>
      <b>

    

    <table border="1" height="70%%"; width="95%%"> 
    <tr>
    <td>Nature of Business</td>
    <td>Manufacturer</td>
    </tr>

    <tr>
    <td>Total Number of Employees</td>
    <td>11 to 25 People</td>
    </tr>

    <tr>
    <td>Year of Establishment</td>
    <td>2020</td>
    </tr>

    <tr>
    <td>Legal Status of Firm</td>
    <td>Individual - Proprietor</td>
    </tr>

    <tr>
    <td>Annual Turnover</td>
    <td>Rs. 2 - 5 Crore</td>
    </tr>
    </table>
    </center></b>
    


    
      </p>
  </div>
</div>


{% endblock body %}