{% extends 'basic.html' %}
{% block title %}
Gallery
{% endblock title %}

{% block body %}
{% load static %}

<div class="container mt-3">
    <h3 class="mt-2">OUR GALLERY</h3><br>
  <div class="row">
    <div class="col-sm">
     <img src="{% static 'images/g1.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/g2.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/g3.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm">
     <img src="{% static 'images/g4.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/g5.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
      <img src="{% static 'images/g6.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm">
     <img src="{% static 'images/g7.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
      <img src="{% static 'images/g8.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
      <img src="{% static 'images/g9.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm">
     <img src="{% static 'images/g10.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/g11.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/g12.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm">
     <img src="{% static 'images/g13.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/g14.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/g15.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm">
     <img src="{% static 'images/g16.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/home4.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
    <div class="col-sm">
     <img src="{% static 'images/home3.jpg' %}" width="300" height="300" class=" mr-3" alt="">
    </div>
  </div>
</div>

{% endblock body %}
