{% extends 'basic.html' %}
{% block title %}
Services
{% endblock title %}
{% block body %}



     <h3>Services</h3>
<div class="card text-black bg-red mt-5">
  <div class="card-header"><b>EXTERIOR AND INTERIOR STONE</b></div>
  <div class="card-body">
    <h5 class="card-title"><b></b></h5>
    <p class="card-text">
      
      
If selecting our thin stone veneer for your project, you’ll find it easy, efficient and economical. Our thin stone comes ready to use; some additional cutting or finishing may be required. It effectively provides more coverage versus traditional 4" to 6" stone veneer of equivalent weight, with no footing requirements. Its profile measures just ¾” to 1 ¼ ". Thin stone is also significantly lighter and easier to handle, resulting in faster installation and reduced labor costs. It can actually be a more cost-effective alternative to man-made or cultured stone. In addition, natural stone is simple to care for, has an appearance that literally improves with age and can last a lifetime.
      </p>
  </div>
</div>



{% endblock body %}