{% extends 'basic.html' %}
{% block title %}
TandurBlue
{% endblock title %}

{% block body %}

{% load static %}

<div class="container">
  <div class="media  mt-3">
    <img src="{% static 'images/tandurblue.jpg' %}" width="200" height="200" class=" mr-3" alt="">
    <div class="media-body">
    <h5 class="mt-0">TANDUR BLUE</h5>
    <p>
Tandur Blue Limestone slabs have a blue shade in them. Obtained in a natural grayish blue the stone has a huge demand all over the world. The stone has a tremendous export quality which cuts it above the rest. These slabs are used for imparting new look and style to the house. These slabs are available in two forms, polished and rough. Tandur Blue Limestone can be used for both house purpose and also for the office purposes. These slabs should be matched with proper interiors so that the slabs look more prominent. Proper interiors make the house more beautiful and elegant.

 </p>
    </div>
  </div>

 <p class="mt-4"> 

  <h4>TANDUR BLUE</h4>

<b>Product details</b>
<br><br>
<b>Color:</b> Blue Material origin: South India
<br><br>
<b>Additional name:</b> Shahabad Limestone, Tandor Blue Limestone
<br><br>
<b>Application area:</b> Building stone, wall facades, sinks, monuments, interiors, exteriors, pool coping, sills, ornamental stone
<br><br>
Greyish blue in color, Tandur Blue is a beautiful limestone quarried from South India. The pale while veins on tandur blue limestone surface significantly contribute to its antique looks and for this very reason, it is quite popular among architects across the world. Impervious in nature, this tandur blue stone has a subtle texture and known for its strength.
<br><br>
Owing to its impressive appearance and physical properties, tandur blue limestone is regarded as a great architectural material for décor and construction projects associated with flooring applications in hallways, conservatories, kitchen, and bathrooms. Tandur Blue is also widely used for wall cladding, pavements, doorways, and patios. There are lots of tandur stone manufacturers in India that supply high-quality limestone products and articles, including tiles, pool coping stone, crazy stone, steps, and wall stones. Some of the physical-chemical and physical properties this unique natural stone are as follows:
<br><br>
<b>Available limestone products</b><br>
<b>• Tiles:</b> 30 x 30, 60 x 60, 60 x 90 and 60 x 120 cm with thickness 2 cm, 3 cm, 4 cm, 5 cm or 6 cm
<br><br>
<b>Available limestone finishes with edges</b><br>
• Natural calibrated machine cut (MC) tumbled<br>
• Natural calibrated hand-cut (HC) tumbled<br>
• Honed calibrated machine cut (MC) tumbled<br>
• Honed calibrated hand-cut (HC) tumbled<br>
• Natural + brushed calibrated machine cut (MC)<br>
• Natural + brushed calibrated hand-cut (HC)<br>
<br>
<b>Physical properties:</b> Compressive Strength (1800 to 2100 Kg/cm2); Density (2.5 – 2.65 Kg/m3); Hardness (3 to 4 Rating on the Mohs scale); Porosity (Low); Water Absorption (Below 1%) and Weather Impact (High resistance).
<br><br>
<b>Chemical properties:</b> Silica (SiO2) 20 – 25%; Lime (CaO) 38 – 42%; Alumina (Al2O3) 2 – 4%; Loss on Ignition (LOI) 30 – 32% and Mg & Na 1.5 – 2.5%.
<br><br>
<b>Stone finishes available:</b> Brushed, sandblasted, natural, honed and polished

Easy to carve and cut, this limestone is available in customized thickness and sizes at Regatta Universal Exports – a noted tandur blue limestone manufacturer and exporter of North and South Indian limestone variants in India. With Regatta’s expert teams of quality supervisors and customer service, you can be assured of quality and service that is just incomparable. The major Indian tandur blue limestone supplier has its own tandur blue limestone factory in India for processing and polishing natural stones.

Simply fill the form below for getting a real price quote by mentioning your exact limestone requirements.

</p>
  
</div>





<div class="container">
  <table class="table table-striped  table-bordered ">
    <h4 class="mt-4">SPECIFICATIONS</h4>
    <tbody>
      <tr>
        <td><b>Classification</b></td>
        <td>South Limestone</td>
      </tr>

      <tr>
        <td><b>Offered in</b></td>
        <td>Blocks, Slabs and Tiles</td>
      </tr>

      <tr>
        <td><b>Finishes Offered</b></td>
        <td>Polished, Honed, Sawn (Rough), Flamed</td>
      </tr>

      <tr>
        <td><b>Standard<br>Specifications</b></td>
        <td>Random Slabs 18mm, 20mm and 30mm Thick<br>Polished, Calibrated & Beveled Tiles<br>305 x 305 x 10mm 610 x 305 x 10mm<br>Cut to size tiles 20mm and 30mm Thick 300 x 300 600 x 300 400 x 400 600 x 400 600 x 300mm 600 x 400mm</td>
      </tr>

      <tr>
        <td><b>Tailor-Made<br>Specifications</b></td>
        <td>Possible</td>
      </tr>

      <tr>
        <td><b>Recommended<br>Applications</b></td>
        <td>Interiors & Exteriors</td>
      </tr>

      <tr>
        <td><b>Bargain Sizes</b></td>
        <td>300 x 300 x 20mm 600 x 225 x 20mm 600 x 150 x 20mm 300 x 225 x 20mm 300 x 150 x 20mm 300 x 150 x 10mm</td>
      </tr>

      <tr>
        <td><b>Delivery</b></td>
        <td>2 to 3 weeks</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <table class="table table-striped  table-bordered ">
     <h4 class="mt-5">TECHNICAL SPECIFICATION</h4>
    <tbody>
      <tr>
        <td><b>Water absorption, % by weight</b></td>
        <td><b>0.09</b></td>
        <td><b>C-97</b></td>
      </tr>

     <tr>
      <td><b>Density (Bulk specific gravity)</b></td>
      <td><b>2644</b></td>
      <td><b>C-97</b></td>
     </tr>

     <tr>
      <td><b>Modulus of rupture, N/ mm2</b></td>
      <td><b>Dry - 11 Wet - 15</b></td>
      <td><b></b>C-99</b></td>
     </tr>

     <tr>
      <td><b>Compressive Strength N/ mm2</b></td>
      <td><b>Dry - 117 Wet - 100</b></td>
      <td><b>C-170</b></td>
     </tr>
    </tbody>
  </table>
</div>

<div class="container mt-4">
  <table class="table">
  <h4>TANDUR BLUE STONES</h4>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="{% static 'images/tandueblue2.jpg' %}" class="d-block w-100" alt="" height="500" width="500">
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/tandueblue3.jpg' %}" class="d-block w-100" alt="" height="500" width="500">
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/tandueblue4.jpg' %}" class="d-block w-100" alt="" height="500" width="500">
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/tandueblue5.jpg' %}" class="d-block w-100" alt="" height="500" width="500">
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/tandueblue6.jpg' %}" class="d-block w-100" alt="" height="500" width="500">
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/tandueblue7.jpg' %}" class="d-block w-100" alt="" height="500" width="500">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </table>
</div>




{% endblock body %}